@model Models.ViewModels.ShowAdvertViewModel


<style type="text/css">
    .icons {
        padding-top: 10px;
        background-color: white;
        color: black;
        border-radius: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
        padding-left: 15px;
        text-align: center;
        font-size: 8px;
    }
</style>


<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 short-advert-label">
                        @(Model.ToLet ? "Do wynajęcia" : "Do sprzedania")
                    </div>
                    <div class="col-md-9 short-advert-title">
                        @Model.Title
                    </div>
                </div>
            </div>
            @if (!Model.Visible)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12  hidden-advert">
                            To ogłoszenie jest obecnie ukryte dla użytkowników
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-12">

                    <div class="col-md-12 short-advert-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-7">
                                    <div class="short-advert-price">
                                        <span class="pln">@Model.Price</span> PLN
                                        @if (!String.IsNullOrEmpty(Model.PricePerMeter))
                                        {
                                            <small class="price">
                                                (@(Model.PricePerMeter)
                                                zł/m<sup>2</sup>)
                                            </small>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3" style="padding: 0; padding-right: 15px">
                                    <div class="short-advert-photo">
                                        @if (Model.Photos != null && Model.Photos.Any())
                                        {
                                            <a class="fancybox" rel="gallery1" href="@Model.Photos[0].Name">
                                                <img src="@Model.Photos[0].Thumbnail" onerror="this.src = '/Content/img/brakzdjecia.png'" style="border: 1px solid white" />
                                            </a>
                                        }
                                        else
                                        {
                                            <img src="/Content/img/brakzdjecia.png" width="100%" />
                                        }
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-12 advert-properties">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    Nieruchomość:
                                                </div>
                                                <div class="col-md-7">
                                                    @String.Format("{0}", Model.AdvertType)
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    Miejscowość:
                                                </div>
                                                <div class="col-md-7">
                                                    @String.Format("{0}", Model.City)
                                                </div>
                                            </div>
                                            @if (!String.IsNullOrEmpty(Model.Location))
                                            {
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        Lokalizacja:
                                                    </div>
                                                    <div class="col-md-7">
                                                        @String.Format("{0}", Model.Location)
                                                    </div>
                                                </div>
                                            }
                                            @foreach (var property in Model.Properties)
                                            {
                                                if (!String.IsNullOrEmpty(property.Value))
                                                {
                                                    <div class="row">
                                                        <div class="col-md-5">@property.Name :</div>
                                                        <div class="col-md-7">
                                                            @property.Value
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="short-advert-description">
                                    @Html.Raw(Model.Description.Replace("\n", "<br>"))
                                </div>
                            </div>
                        </div>
                        @if (!String.IsNullOrEmpty(Model.Details))
                        {
                            <div class="row">
                                <div class="col-md-12 short-advert-description" style="margin-top: 10px;">
                                    @Html.Raw(Model.Details.Replace("\n", "<br>"))
                                </div>
                            </div>
                        }

                        @{ Html.RenderPartial("_Gallery", Model.Photos); }

                        @{ Html.RenderPartial("_Ask", Model.ContactEmail); }

                        @{ Html.RenderPartial("_Map", Model.MapCords); }

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @{ Html.RenderPartial("_SocialMedia"); }
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="short-advert-number">
                                    Numer oferty: todo
                                </div>
                            </div>
                            <div class="col-md-6" style="text-align: right">
                                <div class="short-advert-date">
                                    Data dodania: <b>@Model.CreatedAt.ToShortDateString()</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>