@model Models.ViewModels.AdminMenuViewModel
@{
    Layout = null;
}
<div class="navbar navbar-inverse top-menu" style="margin-bottom: 0px;">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dodaj nową ofertę<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                @foreach (var type in Model.AdvertTypes)
                {
                    <li><a href="@Url.Action("CreateAdvert", "Admin", new {mask = type.Mask})">@type.Name</a></li>
                }
            </ul>
        </li>
        <li><a href="@Url.Action("Index", "Admin")">Oferty (@Model.AdvertsCount)</a></li>
        <li><a href="@Url.Action("Messages", "Admin")">Wiadomości <span  class="glyphicon glyphicon-envelope" style="top: 2px;"></span> (@Model.MessagesCount)</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="margin-right: 0">
        <p class="navbar-text" style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-left: 15px;padding-top: 15px;padding-right: 15px;padding-bottom: 15px;">Zalogowany jako  <span class=" top-menu-blue"><strong>@HttpContext.Current.User.Identity.Name</strong></span></p>
        <li><a href="/Admin/Login"><span class="glyphicon glyphicon-off"></span></a></li>
    </ul>
</div>