@model Models.ViewModels.CreateAdvertViewModel


@{
    Layout = "_AdminLayout.cshtml";
    ViewBag.Title = "Admin - Dodaj mieszkanie";
}


<style>
    .image {
        margin-bottom: 10px;
        text-align: center;
    }

    .borderedImage {
        border: 1px solid black;
    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>

@{
    IEnumerable<int> photosToSave;
    if (Model.PhotosToSave != null && Model.PhotosToSave.Any())
    {
        photosToSave = Model.PhotosToSave;
    }
    else
    {
        photosToSave = new List<int>();
    }
}

<div class="row">
    <div class="col-md-12">
        <h3>Dodaj mieszkanie</h3><hr />

        @using (Html.BeginForm("Create", "Admin", FormMethod.Post, new{@class ="createForm"}))
        {
            Html.AntiForgeryToken();
            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="col-md-12">
                            <div class="form-group form-group-sm has-feedback">
                                <label class="col-md-2 control-label label-sup">Tytuł:</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "form-control required" } })
                                    <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                    @Html.ValidationMessageFor(x => x.Title, "", new { @class = "feedback-error alert alert-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm has-feedback">
                                        <label class="col-md-4 control-label label-sup">Miasto:</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(x => x.City, new { htmlAttributes = new { @class = "form-control required" } })
                                            <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                            @Html.ValidationMessageFor(x => x.City, "", new { @class = "feedback-error alert alert-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-4 control-label label-sup">Lokalizacja:</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(x => x.Location, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(x => x.Location, "", new { @class = "feedback-error alert alert-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm has-feedback">
                                        <label class="col-md-4 control-label label-sup">Cena:</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(x => x.Price, new { htmlAttributes = new { @class = "form-control required" } })
                                            <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                            @Html.ValidationMessageFor(x => x.Price, "", new { @class = "feedback-error alert alert-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-4 control-label label-sup">Powierzchnia (m<sup>2</sup>):</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(x => x.Area, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(x => x.Area, "", new { @class = "feedback-error alert alert-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm">
                                        <div class="col-md-8 col-md-push-4">
                                            <div class="col-md-6">
                                                <label><input checked name="ToLet" type="radio" value="false" />Sprzedaż</label>
                                            </div>
                                            <div class="col-md-6">
                                                <label><input name="ToLet" type="radio" value="true" />Wynajem</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm" style="margin-bottom:0">
                                        <label class="col-md-4 control-label label-sup">Mapa google:</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(x => x.MapCords.Lat, new { htmlAttributes = new { @class = "form-control", @placeholder = "N" } })
                                            @Html.ValidationMessageFor(x => x.MapCords.Lat, "", new { @class = "feedback-error alert alert-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.EditorFor(x => x.MapCords.Lng, new { htmlAttributes = new { @class = "form-control", @placeholder = "E" } })
                                            @Html.ValidationMessageFor(x => x.MapCords.Lng, "", new { @class = "feedback-error alert alert-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class=" form-horizontal">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm">
                                        <div class="col-md-8 col-md-push-4">
                                            <div class="field-info alert alert-warning" style="display: block;">Przykład: 50,904584 15,722375 (Jelenia Góra).</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    @for (int i = 0; i < Model.Properties.Count(); i++)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <div class="col-md-12">
                                        <div class="form-group form-group-sm">
                                            <label class="col-md-4 control-label label-sup">@Model.Properties[i].Name:</label>
                                            <div class="col-md-8">
                                                @Html.Hidden("["+i+"].Name",Model.Properties[i].Name)
                                                @Html.Editor("[" + i + "].Value", new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessage("[" + i + "].Value", "", new { @class = "feedback-error alert alert-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="form-horizontal">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm has-feedback" style="margin-bottom:0">
                                        <label class="col-md-2 control-label label-sup">Opis:</label>
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control required", @style = "height: 100px; resize: none;" })
                                            <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                                            @Html.ValidationMessageFor(x => x.Description, "", new { @class = "feedback-error alert alert-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" form-horizontal">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm">
                                        <div class="col-md-10 col-md-push-2">
                                            <div class="field-info alert alert-warning" style="display: block;">Szczegóły widoczne tylko na stronie konkretnego ogłoszenia.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="form-horizontal">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm" style="margin-bottom:0">
                                        <label class="col-md-2 control-label label-sup">Szczegóły:</label>
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(x => x.Details, new { @class = "form-control", @style = "height: 200px; resize: none;" })
                                            @Html.ValidationMessageFor(x => x.Details, "", new { @class = "feedback-error alert alert-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" form-horizontal">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm">
                                        <div class="col-md-10 col-md-push-2">
                                            <div class="field-info alert alert-warning" style="display: block;">Szczegóły widoczne tylko na stronie konkretnego ogłoszenia.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
            @Html.ListBoxFor(x => x.PhotosToSave, new SelectList(photosToSave), new { @class = "form-control", @style = "max-width:none; height: 100px" })
            <hr/>
        }
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="col-md-12">
                        <div class="form-group form-group-sm has-feedback">
                            <label class="control-label label-sup">Galeria:</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="col-md-12">
                        <div class="form-group form-group-sm has-feedback">
                            <div class="row gallery">
                                @if (Model.SavedPhotos != null && Model.SavedPhotos.Any())
                                {
                                    foreach (var photo in Model.SavedPhotos)
                                    {
                                        <div class="col-md-3 image">
                                            <img src="@photo.Thumbnail"/>
                                        </div>
                                    }
                                }
                            
                                <div class="col-md-3" id="btndiv">
                                    <span class="btn btn-success btn-lg btn-file">
                                        <span class="glyphicon glyphicon-camera"></span>
                                        <input type="file" id="Photos" accept="image/*" multiple />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <hr/>
        
        <button class="btn btn-primary btn-lg" type="submit" id="submitForm">Zapisz</button>
    </div>
</div>


<script type="text/javascript" src="/Scripts/app/PhotoService.js"></script>
<script>

    $("#submitForm").on("click", function() {
        $(".createForm").submit();
    });
    $('body').on("click", ".removeImage", function() {
        var id = $(this).attr("data-id");
        removeOption(id);
    });

    $("#PhotosToSave").hide();

    $("#Photos").on("change", function () {
        if ($(this).val() !== "") {
            var data = new FormData();
            jQuery.each(jQuery('#Photos')[0].files, function (i, file) {
                data.append('Photo', file);
            });
            sendPhoto(data);
        }
    });
    
    $(document).ready(function () {
        var alerts = $(".feedback-error");
        for (var i = 0; i < alerts.length; i++) {
            var elem = alerts[i];
            if (elem.innerHTML === "") {
                $(elem).remove();
            }
        }
        $(".field-info").toggle();
        $(".feedback-error").toggle();
        $(".feedback-error").animate({
            height: "toggle"
        }, 800);
        $(".field-info").animate({
            height: "toggle"
        }, 800);
    });
</script>
